<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>[[${title}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a style="color: white; text-decoration:none"
           th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columnLabel}]]
        </a>
        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></span>
    </th>

    <a th:fragment="page_link(moduleURL, pageNum, label)" class="page-link"
       th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${label}]]
    </a>

    <div th:fragment="category_status">
        <a th:if="${category.enabled == true}" class="fa-solid fa-circle-check fa-lg icon-green"
           th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
           title="Disable this category" style="text-decoration:none"></a>
        <a th:if="${category.enabled == false}" class="fa-solid fa-circle fa-lg icon-dark"
           th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
           title="Enable this category" style="text-decoration:none"></a>
    </div>

    <div th:fragment="category_actions" th:remove="tag">
        <a class="fa-solid fa-pen-to-square fa-lg icon-green" th:href="@{'/categories/edit/' + ${category.id}}"
           title="Edit this category" style="text-decoration:none"></a>
        &nbsp;
        <th:block th:if="${category.hasChildren == false}">
        <a class="fa-solid fa-trash icon-dark fa-lg link-delete" th:href="@{'/categories/delete/' + ${category.id}}"
           th:entityId="${category.id}"
           title="Delete this category" style="text-decoration:none"></a>
        </th:block>
    </div>

    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
        <div class="text-center mb-3" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>
        <div class="text-center mb-3" th:if="${totalItems == 0}">
            <span>No [[${entityName}]] found</span>
        </div>

        <div th:if="${totalItems > 0}">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, 1, '&Ll;')" />
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, '&laquo;')" />
                    </li>
                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active' }"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})" />
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, '&raquo;')" />
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, '&Gg;')" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:fragment="page_footer" class="text-center mt-4">
        <p>Shopping Control Panel - Copyright &copy; Shopping</p>
    </div>
</body>
</html>