<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: page_head('Home - Shopping Admin')"></head>
<body>
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Shopme Control Panel</h2>
        Welcome
        <a th:href="@{/account}"
           sec:authentication="principal.fullName"></a>
        &nbsp;
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="fragments :: page_footer"></div>
</body>
</html>