<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
    <div th:replace="navigation :: menu"></div>
    <div class="container-fluid">
        <div>
            <h2>Manage Product | [[${pageTitle}]]</h2>
        </div>

        <form th:action="@{/products/save}" method="post"
              enctype="multipart/form-data"
              onsubmit="return checkUnique(this)"
              th:object="${product}">
            <input type="hidden" th:field="*{id}">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview"
                                type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description"
                                type="button" role="tab">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images"
                                type="button" role="tab">Images</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details"
                                type="button" role="tab">Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping"
                                type="button" role="tab">Shipping</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="overview" role="tabpanel">
                        <div th:replace="products/product_overview :: content"></div>
                    </div>
                    <div class="tab-pane" id="description" role="tabpanel">
                        <div th:replace="products/product_description :: content"></div>
                    </div>
                    <div class="tab-pane" id="images" role="tabpanel">Images</div>
                    <div class="tab-pane" id="details" role="tabpanel">Details</div>
                    <div class="tab-pane p-3" id="shipping" role="tabpanel">
                        <div th:replace="products/product_shipping :: content"></div>
                    </div>
                </div>
            </div>

            <div class="mb-3 text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3" />
                <input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
            </div>
        </form>

        <div th:replace="modal_fragments :: modal_dialog"></div>
        <div th:replace="fragments :: page_footer"></div>
    </div>

<script th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">
    moduleURL="[[@{/products}]]";
    brandModuleURL = "[[@{/brands}]]";
    dropdownBrands = $("#brand");
    dropdownCategories = $("#category");

    $(document).ready(function () {
        $("#shortDescription").richText();
        $("#fullDescription").richText();

        dropdownBrands.change(function () {
            dropdownCategories.empty();
            getCategories();
        });
        getCategories();
    });

    function getCategories() {
        brandId = dropdownBrands.val();
        url = brandModuleURL + "/" + brandId + "/categories";

        $.get(url, function (responseJson) {
            $.each(responseJson, function (index, category) {
                $("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
            })
        })
    }

    function checkUnique(form) {
        productId = $("#id").val();
        productName = $("#name").val();

        csrfValue = $("input[name='_csrf']").val();

        url = "[[@{/products/check_unique}]]";

        params = {id: productId, name: productName, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response = "Duplicate") {
                showWarningModal("There is another product having same name " + productName);
            } else {
                showErrorModal("Unknown response from the server");
            }
        }).fail(function () {
            showErrorModal("Could connect to the server");
        });

        return false;
    }
</script>
</body>
</html>