<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopping Admin')"></head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">
    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark" style="text-decoration:none"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark" style="text-decoration:none"></a>
    </div>

    <div th:replace="fragments :: search_form('/categories/page/1')"></div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="full-details">
        <table class="table table-bordered table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th>
                    <a class="text-white" style="text-decoration: none"
                       th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" >
                        Category Name
                        <span th:class="${reverseSortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></span>
                    </a>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <td>
                    <div th:replace="fragments :: category_status"></div>
                </td>
                <td>
                    <div th:replace="fragments :: category_actions"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierarchical form</span>
        <div th:replace="fragments :: pagination('/categories', 'categories')"></div>
    </div>
    <th:block th:unless="${keyword != null}">
        <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
    </th:block>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: page_footer"></div>
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), "category");
        })
    })
</script>
</body>
</html>