<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopping Admin', 'none')"></head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">
    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fa-solid fa-folder-plus fa-2xl icon-dark" style="text-decoration:none"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2xl icon-dark" style="text-decoration:none"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message"></div>

    <div class="full-details">
        <table class="table table-bordered table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th th:replace="fragments :: column_link('name', 'Category Name', 'none')"></th>
                <th class="hideable-column">Alias</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${category.name}]]</td>
                <td class="hideable-column">[[${category.alias}]]</td>
                <td>
                    <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                </td>
                <td>
                    <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="category : ${listCategories}" class="row m-1">
            <div class="col">
                <img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid">
            </div>
            <div class="col">
                <div>[[${category.name}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})"></div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierarchical form</span>
        <div th:replace="fragments :: pagination('categories')"></div>
    </div>
    <th:block th:unless="${keyword != null}">
        <div th:replace="fragments :: pagination('top-level categories')"></div>
    </th:block>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: page_footer"></div>
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), "category");
        })
    })
</script>
</body>
</html>