<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})"></head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">
    <div>
        <h2>Manage Categories | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/categories/save}" method="post" style="max-width: 500px; margin: auto"
          enctype="multipart/form-data"
          th:object="${category}">
        <input type="hidden" th:field="*{id}">
        <div class="border border-2 rounded p-4">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{alias}" required minlength="3" maxlength="64" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Parent Category:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{parent}">
                        <option value="0">[No parent]</option>
                        <th:block th:each="cat : ${listCategories}">
                            <option th:value="${cat.id}">[[${cat.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{image}">
                    <input type="file" id="fileImage" name="fileImage" class="mb-2"
                           accept="image/png, image/jpeg, image/jpg" th:required="${category.imagePath == null}"/>
                    <div class="mt-2">
                        <img id="thumbnail" alt="Image preview" th:src="@{${category.imagePath}}"
                             class="img-fluid" width="150" height="150" />
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8 m-auto">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>

            <div class="mb-3 text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3" />
                <input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
            </div>
        </div>
    </form>

    <div th:replace="fragments :: page_footer"></div>
</div>

<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";
</script>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>