<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"></head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">
    <div>
        <h2>Manage Question | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/questions/save}" method="post" style="margin: auto"
          th:object="${question}">
        <input type="hidden" th:field="*{id}">
        <div class="border border-2 rounded p-3">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Product:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:value="${question.product.name}" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Question:</label>
                <div class="col-sm-10 my-auto">
                    <textarea class="form-control" th:field="*{questionContent}"></textarea>
                    <span>Asked by: <b>[[${question.asker.fullName}]]</b> on [[${#dates.format(question.askTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Answer:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" th:field="*{answerContent}"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Approved:</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="my-auto" th:field="*{approvalStatus}">
                </div>
            </div>

            <div class="mb-3 text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" id="btnCancel"/>
            </div>
        </div>
    </form>
    <div th:replace="fragments :: page_footer"></div>
</div>
<script type="text/javascript">
    moduleURL = "[[@{/questions}]]";

    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = moduleURL;
        })
    })
</script>
</body>
</html>