<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Questions - Shopping Admin', 'none')"></head>
<body>

<div th:replace="navigation :: menu"></div>

<div class="container-fluid">
    <div>
        <h2>Manage Questions</h2>
    </div>

    <div th:replace="fragments :: search_form_and_message"></div>

    <div>
        <table class="table table-bordered table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th th:replace="fragments :: column_link('id',  'ID', 'none')"></th>
                    <th th:replace="fragments :: column_link('product',  'Product', 'none')"></th>
                    <th>Question</th>
                    <th th:replace="fragments :: column_link('asker',  'Asker', 'none')"></th>
                    <th th:replace="fragments :: column_link('askTime',  'Ask Time', 'none')"></th>
                    <th>Approval</th>
                    <th>Answered</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question : ${listQuestions}">
                    <td>[[${question.id}]]</td>
                    <td>
                        <a class="link-detail"
                           th:href="@{'/products/detail/' + ${question.product.id}}">[[${question.product.shortName}]]</a>
                    </td>
                    <td>[[${question.questionContent}]]</td>
                    <td>
                        <a class="link-detail"
                           th:href="@{'/customers/detail/' + ${question.asker.id}}">[[${question.asker.fullName}]]</a>
                    </td>
                    <td>[[${question.askTime}]]</td>
                    <td>
                        <a th:if="${question.approvalStatus == true}" class="fa-solid fa-circle-check fa-lg icon-green"
                           th:href="@{'/questions/' + ${question.id} + '/approved/false'}"
                           title="Approve this question" style="text-decoration:none"></a>
                        <a th:if="${question.approvalStatus == false}" class="fa-solid fa-circle fa-lg icon-dark"
                           th:href="@{'/questions/' + ${question.id} + '/approved/true'}"
                           title="Disapprove this question" style="text-decoration:none"></a>
                    </td>
                    <td>
                        <a th:if="${question.answered == true}" class="fa-solid fa-circle-check fa-lg icon-green"
                           style="text-decoration:none"></a>
                        <a th:if="${question.answered == false}" class="fa-solid fa-circle fa-lg icon-dark"
                           style="text-decoration:none"></a>
                    </td>
                    <td>
                        <a class="fa-solid fa-file-alt fa-2x icon-green fa-lg link-detail"
                           th:href="@{'/questions/detail/' + ${question.id}}"
                           title="View details of this question"></a>
                        &nbsp;
                        <div th:replace="fragments :: edit('question', '/questions/edit/' + ${question.id})"></div>
                        &nbsp;
                        <div th:replace="fragments :: delete('question', ${question.id}, '/questions/delete/' + ${question.id}, true)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('question')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: page_footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/questions}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), "question");
        })

        $(".link-detail").on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        })
    })
</script>
</body>
</html>