<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping', 'none')"></head>
<body>
    <div th:replace="navigation :: header_menu"></div>
    <div th:replace="navigation :: search_nav"></div>
    <div th:replace="breadcrumb :: content"></div>

    <div class="container-fluid">
        <div>
            <h1>Shopping by Categories</h1>
        </div>

        <div class="row">
            <div class="col-sm-2" th:each="category : ${listCategories}">
                <div><img th:src="@{${category.imagePath}}" width="80"></div>
                <div>
                    <a th:href="@{'/c/' + ${category.alias}}">[[${category.name}]]</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="navigation :: footer_menu"></div>
</body>
</html>