<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div>Use this page to manage states/provinces which will can be chosen by user in the customer registration form. Click Load Country List first.</div>

    <div>
        <input type="button" id="btnLoadCountriesForStates" value="Load Country List" class="btn btn-primary m-3">
    </div>

    <div class="row my-3">
        <span class="col-sm-2">Selected Country:</span>
        <div class="col-sm-10">
            <select id="dropdownCountriesForStates" class="form-control">
            </select>
        </div>
    </div>

    <div class="row my-3">
        <span class="col-sm-2">All States/Provinces:</span>
        <div class="col-sm-10">
            <select id="dropdownStatesByCountry" class="form-select" style="height: 250px" size="3">
            </select>
        </div>
    </div>

    <form id="formState">
        <div class="row my-3 align-items-md-center">
            <label class="col-sm-2 mt-2" id="labelStateName">State/Province Name:</label>
            <div class="col-md">
                <input type="text" id="fieldStateName" class="form-control mt-2"
                       required minlength="3" maxlength="45">
            </div>

            <div class="col-lg-4 mt-2">
                <input type="button" id="btnAddState" value="Add" class="btn btn-secondary me-2">
                <input type="button" id="btnUpdateState" value="Update" class="btn btn-secondary me-2" disabled="disabled">
                <input type="button" id="btnDeleteState" value="Delete" class="btn btn-secondary" disabled="disabled">
            </div>
        </div>
    </form>
</div>
</body>
</html>