<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>
<body>
<div th:replace="navigation :: header_menu"></div>
<div th:replace="navigation :: search_nav"></div>

<div class="container-fluid">
    <div class="row m-2">
        <div class="col-sm-2">
            <img th:src="@{${product.mainImagePath}}" width="150">
        </div>
        <div class="col-sm-10">
            <div><h3>[[${product.name}]]</h3></div>
            <div class="row m-1">
                <div class="col-auto">
                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="md"
                           th:value="${product.averageRating}">
                </div>
                <div class="col-auto mt-3">
                    <span id="ratingNumber">[[${product.averageRating}]]</span> of 5
                </div>
            </div>
            <div class="row m-1 ms-3">
                <span>[[${product.reviewCount}]] rating(s)</span>
            </div>
        </div>
    </div>

    <div class="row m-2">
        <div class="col">
            <th:block th:each="review : ${listReviews}">
                <div class="row">
                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs"
                           th:value="${review.rating}">
                </div>
                <div class="row m-1">
                    <b>[[${review.headline}]]</b>
                </div>
                <div class="row m-1">
                    <div>[[${review.comment}]]</div>
                </div>
                <div class="row ms-3">
                    <small>[[${review.customer.fullName}]], [[${#dates.format(review.reviewTime, 'yyyy-MM-dd HH:mm:ss')}]]</small>
                </div>

                <div class="row"><div class="col"><hr/></div></div>
            </th:block>
        </div>
    </div>
    <div th:replace="fragments :: pagination('/ratings/' + ${product.alias}, 'product')"></div>
</div>

<div th:replace="navigation :: footer_menu"></div>
<script type="text/javascript">
    $(document).ready(function () {
        formatRatingNumber();
    })

    $(".product-detail-rating-star").rating({
        displayOnly: true,
        hoverOnClear: false,
        showCaption: false,
        theme: 'krajee-svg'
    })

    function formatRatingNumber() {
        ratingText = $("#ratingNumber").text();
        formattedRatingNumber = $.number(ratingText, 2, decimalSeparator, thousandsSeparator);
        $("#ratingNumber").text(formattedRatingNumber);
    }
</script>
</body>
</html>