<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Orders - Shopping Admin', 'none')">
</head>
<body>
    <div th:replace="navigation :: menu"></div>
    <div class="container-fluid">
        <div>
            <h2>Manage Orders</h2>
        </div>

        <div th:replace="fragments :: search_form_and_message"></div>

        <div class="full-details">
            <table class="table table-bordered table-responsive-xl">
                <thead class="table-dark">
                <tr>
                    <th th:replace="fragments :: column_link('id', 'ID', 'none')"></th>
                    <th th:replace="fragments :: column_link('customer', 'Customer', 'none')"></th>
                    <th th:replace="fragments :: column_link('total', 'Total', 'none')"></th>
                    <th th:replace="fragments :: column_link('orderTime', 'Order Time', 'none')"></th>
                    <th th:replace="fragments :: column_link('destination', 'Destination', 'none')"></th>
                    <th th:replace="fragments :: column_link('paymentMethod', 'Payment Method', 'none')"></th>
                    <th th:replace="fragments :: column_link('status', 'Status', 'none')"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${listOrders}">
                    <td>[[${order.id}]]</td>
                    <td>
                        <a class="link-detail"
                           th:href="@{'/customers/detail/' + ${order.customer.id}}">[[${order.customer.fullName}]]</a>
                    </td>
                    <td>
                        <div th:replace="fragments :: format_currency(${order.total})"></div>
                    </td>
                    <td>
                        <div th:replace="fragments :: format_time(${order.orderTime})"></div>
                    </td>
                    <td>[[${order.destination}]]</td>
                    <td>[[${order.paymentMethod}]]</td>
                    <td>[[${order.status}]]</td>
                    <td>
                        <a class="fa-solid fa-file-alt fa-2x icon-green fa-lg link-detail"
                           th:href="@{'/orders/detail/' + ${order.id}}"
                           title="View details of this order"></a>
                        &nbsp;
                        <th th:replace="fragments :: edit('order', '/orders/edit/' + ${order.id})"></th>
                        <th th:replace="fragments :: delete('order', ${order.id}, '/orders/delete/' + ${order.id}, true)"></th>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <th:block th:each="order : ${listOrders}">
                <div class="row m-1">
                    <div class="col-2">
                        [[${order.id}]]
                    </div>
                    <div class="col-10">
                        <div>[[${order.customer.fullName}]], [[${order.country}]]</div>
                        <div><small>[[${order.orderTime}]] - [[${order.status}]]</small></div>
                        <div><div th:replace="fragments :: format_currency(${order.total})">Total</div> - [[${order.paymentMethod}]]</div>
                        <div>
                            <a class="fa-solid fa-file-alt fa-2x icon-green fa-lg link-detail"
                               th:href="@{'/orders/detail/' + ${order.id}}"
                               title="View details of this order"></a>
                            &nbsp;
                            <div th:replace="fragments :: edit('order', '/orders/edit/' + ${order.id})"></div>
                            <div th:replace="fragments :: delete('order', ${order.id}, '/orders/delete/' + ${order.id}, true)"></div>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
            </th:block>
        </div>
    </div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('orders')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: page_footer"></div>

    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">
        moduleURL = "[[@{/orders}]]";

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), "order");
            })

            $(".link-detail").on("click", function (e) {
                e.preventDefault();
                linkDetailURL = $(this).attr("href");
                $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
            })
        })
    </script>
</body>
</html>