<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')"></head>
<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container-fluid text-center justify-content-center">
    <div>&nbsp;</div>
    <form th:action="@{/forgot_password}" method="post" style="max-width: 400px; margin: auto auto">
        <div class="border border-secondary rounded p-3">
            <h3>Forgot Password</h3>
            <div th:if="${error != null}">
                <p class="text-danger">[[${error}]]</p>
            </div>
            <p>We will sending a reset password link to your email.</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required/>
            </p>
            <p>
                <input type="submit" value="Send" class="btn btn-primary"/>
            </p>
        </div>
    </form>
</div>
<div th:replace="navigation :: footer_menu"></div>
</body>
</html>