<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')"></head>
<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container-fluid text-center justify-content-center">
    <div>&nbsp;</div>
    <form th:action="@{/reset_password}" method="post" style="max-width: 400px; margin: auto auto">
        <input type="hidden" th:value="${token}" name="token">
        <div class="border border-secondary rounded p-3">
            <h3>Reset Password</h3>

            <p>
                <input type="password" class="form-control" placeholder="Enter your new password"
                       id="password" name="password" minlength="8" maxlength="64" required
                       oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
            </p>
            <p>
                <input type="password"  id="confirmPassword" class="form-control"
                       placeholder="Confirm your new password"
                       maxlength="64" minlength="8" required
                       oninput="checkPasswordMatch(this)"/>
            </p>

            <div class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<div th:replace="navigation :: footer_menu"></div>

<script type="text/javascript">

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Password do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>